
<h1>Let's look for some movies!</h1>

<%= form_tag new_movie_path, method: "get" do %>
  <%= text_field_tag :movie, params[:movie], placeholder: "Search Movie" %>
  <%= submit_tag "Search" %>
<% end %>

<br/>

<% if @movie != nil && @movie_status == false %>
  <span>The movie <%= params[:movie] %> is not available in iTunes. Click below to subscribe to an email notification. </span>
  <%= @movie %>
  <% @movie_status %>
  <%= link_to "Subscribe", movies_path, :method => :post %>
<% elsif @movie != nil %>
  <%= @movie %>
  <%= link_to "Save this movie!", movies_path, :method => :post %>
<% end %>