
<h1>Let's look for some movies!</h1>

<%= form_tag new_movie_path, method: "get" do %>
  <%= text_field_tag :movie, params[:movie], placeholder: "Search Movie" %>
  <%= submit_tag "Search" %>
<% end %>

<br/>

<%= @movie %>

<% if @movie != nil %>
  <%= link_to "Save this movie!", movies_path, :method => :post %>
<% end %>