<h1> <%= @movie.title %> </h1>
<p> Rated <%= @movie.content_advisory_rating %> </p>
<p> Genre <%= @movie.genre %> </p>
<p> Length <%= @movie.length %> </p>
<p> Released <%= @movie.release_date %> </p>
<div>
  <%= image_tag @movie.image_large, size: "151x227" %>
<div>
  <p> <%= @movie.long_description %> </p>
<h6> itunes ID: <%= @movie.apple_id %> </h6>
