<h2> <%= link_to preview.title, search_movie_path(preview.id) %> </h2>
<p> Rated <%= preview.content_advisory_rating %> </p>
<p> Length <%= preview.length %> </p>
<div>
  <%= image_tag preview.image_large, size: "151x227" %>
<div>
  <p> <%= preview.short_description %> </p>
